.recipe-body {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-top: 180px;
  font-family: "Belanosima", serif;
}

.recipe-img-container {
  position: absolute;
  top: -150px;
  z-index: 1;
}

.recipe-img {
  width: 300px;
  height: 300px;
  border: 4px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  border: 4px solid black;
  border-radius: 10px;
}

.recipe-title-description {
  border-radius: 10px 10px 0px 0px;
  border-bottom: 4px solid black;
  background-color: #fff6e7;
  padding: 50px;
  padding-top: 120px;
}

.recipe-title-description h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  font-size: 48px;
  text-align: center;
}

.recipe-recipe-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.recipe-recipe-info span {
  color: gray;
}

.recipe-recipe-info button {
  background-color: #6fa588;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
}

.print-button {
  margin-right: 12px;
}

.recipe-description {
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
}

.recipe-recipe-ingredients {
  font-size: 38px;
  margin: 10px;
}

.ingredients-list-container {
  margin-bottom: 20px;
  padding: 25px;
}

.ingredient-contents-container {
  font-size: 18px;
  margin: 10px 15px;
}

.ingredient-contents-container label {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #6fa588;
  cursor: pointer;
}

.recipe-instructions-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  margin: 10px 15px;
}

.recipe-recipe-instructions {
  font-size: 38px;
  margin: 10px;
}

.instruction-contents {
  display: flex;
  gap: 10px;
}

.instruction-contents p {
  margin: 0px;
}

.number-index {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4b8667;
  color: white;
  border-radius: 50%;
  width: 25px;
  min-width: 25px;
  height: 25px;
}

@media print {
  h2 {
    font-size: 20px;
    font-weight: normal;
  }

  h3 {
    font-size: 15px;
    font-weight: normal;
  }

  .recipe-body {
    margin: 0px;
  }

  .recipe-img-container {
    display: none;
  }

  .recipe-container {
    border: none;
    background-color: transparent;
    width: 100%;
  }

  .recipe-title-description {
    padding: 0px;
    background-color: transparent;
  }

  .recipe-recipe-info {
    justify-content: space-evenly;
    margin: none;
  }

  .recipe-recipe-info button {
    display: none;
  }

  .ingredients-list-container {
    padding: 0px;
    margin: 0px;
  }

  .recipe-instructions-container {
    padding: 0px;
    margin: 0px;
  }
}
