.recipe-body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.recipe-title-description {
}

.recipe-title-description h2 {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 48px;
  margin-bottom: 0px;
}

.recipe-recipe-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
}

.recipe-recipe-info span {
  color: gray;
}

.recipe-recipe-info button {
  background-color: #6fa588;
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
}

.print-button {
  margin-right: 5px;
}

.recipe-description {
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 4px solid black;
}

.recipe-recipe-ingredients {
  font-size: 38px;
  margin: 10px;
}

.ingredient-contents-container {
  font-size: 18px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #6fa588;
}


.recipe-recipe-instructions {
  font-size: 38px;
  margin: 10px;
}

.instructions-ordered-list {
  font-size: 18px;
}


