@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 2px solid black;
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header {
  font-weight: 700;
  font-size: 55px;
  font-style: normal;
  margin: 20px;
}

.underline {
  border-bottom: 2px solid #aed1a4;
}

.input-container {
  display: flex;
  align-items: center;
  border: 2px solid black;
  background-color: transparent;
  padding: 8px;
}

.search-icon-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding: 0px;
  height: 20px;
}

.search-bar {
  height: 25px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  padding-left: 10px;
}

.filter-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 4px solid black;
  padding: 8px;
}

#browse-meal {
  border-left: 1px solid black;
  font-size: 17px;
  padding-left: 50px;
}

.meal-tags {
  display: flex;
  gap: 60px;
}

.meal-tags p {
  margin: 0px;
  padding: 5px;
}

.meal-tags a {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid transparent; 
  transition: .3s;
  text-decoration: none;
  color: black;
}

.meal-tags a.selected {
  border: 1px solid black;
  background-color: #dbe8d7;
}

.meal-tags a:hover {
  border: 1px solid black;
  background-color: #dbe8d7;
  transition: .3s;
}