.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  height: 25px;
}

.filter-contents {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
}

.meal-tags {
  display: flex;
  gap: 60px;
}