html {
  display: flex;
  justify-content: center;
  background-color: #F2F3F4;
}

body {
  padding: 0px;
  margin: 0px;
  width: 60%;
}

.emphasis {
  font-family: "Sofia", serif;
  font-weight: 400;
}

@media (max-width: 1835px) {
  body {
    width: 70%;
  }
}

@media (max-width: 1572px) {
  body {
    width: 80%;
  }
}

@media (max-width: 1383px) {
  body {
    width: 90%;
  }
}

@media (max-width: 1223px) {
  .app-header {
    font-size: 45px;
  }

  .recipe-list-title {
    font-size: 28px;
  }
}

@media (max-width: 1049px) {
  .app-header {
    font-size: 35px;
  }

  .meal-tags {
    gap: 45px;
  }

  .recipe-list-img:hover {
  webkit-filter: none; 
  filter: none;
}
}

@media (max-width: 961px) {
  .app-header {
    font-size: 30px;
  }

  .meal-tags {
    gap: 40px;
  }

  #browse-meal {
    padding-left: 30px;
  }
}

@media (max-width: 914px) {
  .app-header {
    font-size: 25px;
  }

  .header p {
    font-size: 13px;
  }

  .meal-tags {
    gap: 25px;
  }

  #browse-meal {
    padding-left: 30px;
  }

  .recipe-list-title {
    font-size: 20px;
  }

  .recipe-link {
    width: 640px;
    height: 426px;
  }

  .recipe-list-img-container {
    width: 640px;
    height: 426px;
  }

  .recipe-list-img {
    width: 640px;
    height: 426px;
  }

  .recipe-name {
    font-size: 20px;
  }
}

@media (max-width: 830px) {
  .meal-tags {
    font-size: 13px;
    gap: 20px;
  }

  #browse-meal {
    font-size: 15px;
  }

  #all-recipes {
    font-size: 14px;
  }

  .input-container {
    width: 180px;
  }
}

@media (max-width: 768px) {
  body {
    width: 95%;
  }
  
  .app-header {
    margin: 40px 20px;
  }

  .meal-tags {
    font-size: 12px;
  }

  #all-recipes {
    font-size: 12px;
  }

  #browse-meal {
    font-size: 12px;
  }
}

@media (max-width: 688px) {
  .header p {
    font-size: 11px;
  }

  .input-container {
    width: 165px;
    padding: 7px;
  }

  .recipe-link {
    width: 576px;
    height: 383px;
  }

  .recipe-list-img-container {
    width: 576px;
    height: 383px;
  }

  .recipe-list-img {
    width: 576px;
    height: 383px;
  }
}

@media (max-width: 648px) {
  .header-container {
    margin: 30px 0px;
  }

  .app-header {
    margin: 0px;
  }

  .header-container p {
    margin: 0px;
  }

  #all-recipes {
    display: flex;
    padding: 0px;
  }

  #all-recipes i {
    font-size: 30px;
    margin: 0px;
  }
}

@media (max-width: 600px) {
  #browse-meal {
    padding: 5px 10px;
  }

  .meal-tags {
    gap: 10px;
  }

  .recipe-link {
    width: 518px;
    height: 345px;
  }

  .recipe-list-img-container {
    width: 518px;
    height: 345px;
  }

  .recipe-list-img {
    width: 518px;
    height: 345px;
  }
}

@media (max-width: 540px) {
  #browse-meal {
    display: none;
  }

  .filter-contents {
    gap: 30px;
  }

  .meal-tags {
    gap: 10px;
  }

  .recipe-link {
    width: 466px;
    height: 311px;
  }

  .recipe-list-img-container {
    width: 466px;
    height: 311px;
  }

  .recipe-list-img {
    width: 466px;
    height: 311px;
  }
}

@media (max-width: 540px) {
  .meal-tags {
    gap: 20px;
  }

  .recipe-link {
    width: 419px;
    height: 280px;
  }

  .recipe-list-img-container {
    width: 419px;
    height: 280px;
  }

  .recipe-list-img {
    width: 419px;
    height: 280px;
  }
}

@media (max-width: 445px) {
  .app-header {
    font-size: 20px;
  }

  .header-container p {
    font-size: 10px;
  }

  .input-container {
    padding: 5px;
  }

  #all-recipes i {
    font-size: 25px;
  }

  .meal-tags {
    gap: 10px;
  }

  .meal-tags a {
    padding: 4px 8px;
  }

  .recipe-list-container {
    margin-bottom: 20px;
  }

  .recipe-link {
    width: 377px;
    height: 227px;
    margin-bottom: 30px;
  }

  .recipe-list-img-container {
    width: 377px;
    height: 252px;
  }

  .recipe-list-img {
    width: 377px;
    height: 252px;
  }
}

@media (max-width: 400px) {
  .recipe-list-container {
    height: 227px;
  }

  .recipe-link {
    width: 339px;
    height: 227px;
  }

  .recipe-list-img-container {
    width: 339px;
    height: 227px;
  }

  .recipe-list-img {
    width: 339px;
    height: 227px;
  }
}

@media (max-width: 380px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .app-header {
    font-size: 30px;
  }

  .header-container p {
    font-size: 12px;
  }

  .input-container {
    width: 100%;
  }

  .filter-contents {
    gap: 5px;
  }

  .meal-tags {
    gap: 5px;
  }

  .dropdown-menu {
    width: 150px;
  }

  .subcategory-list {
    left: 151px;
    width: 150px;;
  }

  .recipe-list-container {
    height: 204px;
  }

  .recipe-link {
    width: 305px;
    height: 204px;
  }

  .recipe-list-img-container {
    width: 305px;
    height: 204px;
  }

  .recipe-list-img {
    width: 305px;
    height: 204px;
  }

  .recipe-name {
    font-size: 15px;
  }
}

@media (max-width: 330px) {
  .meal-tags a {
    font-size: 10px;
  }

  .dropdown-menu {
    width: 130px;
    font-size: 12px;
  }

  .category-button {
    font-size: 12px;
  }

  .subcategory-list {
    left: 130px;
    width: 130px;;
  }

  .recipe-list-container {
    height: 184px;
  }

  .recipe-link {
    width: 275px;
    height: 184px;
  }

  .recipe-list-img-container {
    width: 275px;
    height: 184px;
  }

  .recipe-list-img {
    width: 275px;
    height: 184px;
  }  

  @media (max-width: 300px) {
    #all-recipes i {
      font-size: 18px;
    }
  }
}