html {
  display: flex;
  justify-content: center;
  background-color: #F2F3F4;
}

body {
  padding: 0px;
  margin: 0px;
  width: 60%;
}

.emphasis {
  font-family: "Sofia", serif;
  font-weight: 400;
}

@media (max-width: 1835px) {
  body {
    width: 70%;
  }
}

@media (max-width: 1572px) {
  body {
    width: 80%;
  }
}

@media (max-width: 1383px) {
  body {
    width: 90%;
  }
}

@media (max-width: 1223px) {
  .app-header {
    font-size: 45px;
  }

  .recipe-list-title {
    font-size: 28px;
  }
}

@media (max-width: 1049px) {
  .app-header {
    font-size: 35px;
  }

  .meal-tags {
    gap: 45px;
  }
}

@media (max-width: 961px) {
  .app-header {
    font-size: 30px;
  }

  .meal-tags {
    gap: 40px;
  }

  #browse-meal {
    padding-left: 30px;
  }
}

@media (max-width: 914px) {
  .app-header {
    font-size: 25px;
  }

  .header p {
    font-size: 13px;
  }

  .meal-tags {
    gap: 25px;
  }

  #browse-meal {
    padding-left: 30px;
  }

  .recipe-list-title {
    font-size: 20px;
  }

  .recipe-list-img-container {
    width: 640px;
    height: 426px;
  }

  .recipe-list-img {
    width: 640px;
    height: 426px;
  }

  .recipe-name {
    font-size: 20px;
  }
}

@media (max-width: 830px) {
  .meal-tags {
    font-size: 13px;
    gap: 20px;
  }

  #browse-meal {
    font-size: 15px;
  }

  #all-recipes {
    font-size: 14px;
  }

  .input-container {
    width: 180px;
  }
}