.saved-recipes-container {
    width: 100%;
}

.saved-recipe-title-container {
    display: flex;
    align-items: center;
}

.saved-recipe-title {
    font-family: "Sofia", serif;
    font-weight: 400;
    width: 400px;
}

.saved-recipes-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px;
}

.saved-recipe-link-container {
    position: relative;
}

/* All Recipes */
.saved-recipe-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 30px;
}

/* One recipe */
.saved-recipe-list-img {
    width: 500px;
    height: 333px;
    border: 2px solid black;
}

.saved-recipe-link {
    margin-bottom: 25px;
}

.saved-recipe-name {
    font-family: "Belanosima", serif;
    color: black;
    background-color: #f1f2f3;
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 10px;
}

.delete-recipe {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    margin: 5px;
    padding-top: 5px;
    background-color: #f1f2f3;
    color: black;
    border: 2px solid black;
    font-size: 25px;
    width: 55px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.delete-recipe:hover {
    background-color: #fc3e3e;
    color: white;
}